@model ClimaTempo.Models.DTOEstadoCidadePrevisao
@{
    ViewBag.Title = "Clima Tempo";

    var cidadesQuentesHoje = Model.Previsoes.FindAll(p => p.DataPrevisao.Date.Equals(DateTime.Now.Date)).OrderByDescending(p => p.TemperaturaMaxima).Take(3);
    var cidadesFriasHoje = Model.Previsoes.FindAll(p => p.DataPrevisao.Date.Equals(DateTime.Now.Date)).OrderBy(p => p.TemperaturaMinima).Take(3);
}

<script>
    function formateDecimal(valor) {
        return Math.trunc(valor);
    }

    $(document).ready(function () {
        let dropdown = $("#@Html.DisplayNameFor(m => m.CidadeSelecionada)");
        dropdown.select2({
            width: "100%",
            placeholder: "Selecione uma cidade",
            allowClear: true
        });

        $('#partialViewClimas').load(`/Home/ObtenhaClimas?cidadeId=${dropdown.val()}`);
    });

    $(document).change(function () {
        let dropdown = $("#@Html.DisplayNameFor(m => m.CidadeSelecionada)");
        $("#partialViewClimas").load(`/Home/ObtenhaClimas?cidadeId=${dropdown.val()}`);
    });

</script>

<div class="jumbotron">
    <h1>Clima Tempo Simples</h1>
    <p class="lead">Um simples site que irá te informar sobre as cidades mais quentes e mais frias e seus climas.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cidades mais quentes hoje</h3>
            </div>
            <div class="panel-body">

                @foreach (PrevisaoClima previsao in cidadesQuentesHoje)
                {
                    <div class="row">
                        <div class="col-md-8">
                            @previsao.Cidade.Nome/@previsao.Cidade.Estado.UF
                        </div>
                        <div class="col-md-2">
                            Min @((int)previsao.TemperaturaMinima)°C
                        </div>
                        <div class="col-md-2">
                            Máx @((int)previsao.TemperaturaMaxima)°C
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cidades mais frias hoje</h3>
            </div>
            <div class="panel-body">

                @foreach (PrevisaoClima previsao in cidadesFriasHoje)
                {
                    <div class="row">
                        <div class="col-md-8">
                            @previsao.Cidade.Nome/@previsao.Cidade.Estado.UF
                        </div>
                        <div class="col-md-2">
                            Min @((int)previsao.TemperaturaMinima)°C
                        </div>
                        <div class="col-md-2">
                            Máx @((int)previsao.TemperaturaMaxima)°C
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <b>Cidade:</b>
        <br />
        @Html.DropDownListFor(m => m.CidadeSelecionada, new SelectList(Model.Cidades, "Id", "Nome"))
    </div>
</div>

<div id="partialViewClimas"></div>